#menu ul{
 list-style-type:none;
  margin-left: 30%;
 }
#menu ul a{
float: left;
text-decoration: none;
padding: 0 10px;
color: #8B8B8B;
transition: color 0.4s ease 0s;

 }
 #menu ul a:hover{
 color:#61D0D4;
 transition: color 0.4s ease 0s;
 }
 .bocuc{
     margin-top: 50px;
 }
 img{
     height: 100%;
     width: 100%;
     border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
 }
 p{
     color: #31b0d5;
 }
 #hCall, #contentCall 
 {
     float: left;
 }
 .footer
 {
     background-color: #269abc;
 }
 h5{
     margin-bottom: 0px;
 }
 header
 {
     margin-bottom: 50px;
 }
 